$font-size: 24px;
$color-primary: #aba194;
$font-family: "Roboto";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background-size: 200% 100% !important;
  animation: move 3s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  height: 100vh;
}
.logout {
  padding: 5px;
  position: sticky;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 5px;
  background-color: red;
  text-align: center;
  color: white;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user__header {
  font-size: $font-size + 20;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}
.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: $font-family;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  font-size: large;

  &:focus {
    background: darken(#fff, 3%);
  }
}

.btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 20px;
  font-family: $font-family;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: $color-primary;
  transition: 0.3s;
  border-radius: 6px;
  font-size: large;

  &:hover {
    background: darken($color-primary, 5%);
  }
}

@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.homepage {
  margin: 30px;
}
.addpost {
  margin-top: 30px;
  margin: auto;
  border-bottom: 2px solid black;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}
.form_addpost {
  margin-top: 40px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}
.form__input_addpost {
  display: block;
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  font-family: $font-family;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  font-size: large;

  &:focus {
    background: darken(#fff, 3%);
  }
}

.btn_addpost {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 20px;
  font-family: $font-family;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: $color-primary;
  transition: 0.3s;
  border-radius: 6px;
  font-size: large;

  &:hover {
    background: darken($color-primary, 5%);
  }
}
a {
  margin-left: 15px;
}
.like {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.nothing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.post {
  position: relative;
  padding: 10px;
  padding-bottom: 0px;
  margin: 5px;
  border: 0.5px solid red;
  border-radius: 10px;
  height: 70%;
}
.post > p {
  white-space: pre-line;
  word-wrap: break-word;
}
.Like {
  color: #4b4b4b;
  font-size: 20px;
  position: relative;
  list-style: none;
  width: 100%;
  height: 90px;
  margin: 5px;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.Like > div {
  display: inline-block;
}
.button {
  height: 20px;
  width: 40px;
  border: 0.5px solid rgb(72, 21, 21);
  color: white;
  background: red;
  font-weight: 5px;
  padding: 0px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration-style: solid;
  margin: 5px;
}
details {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 10px;
}
